html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*@font-face {

    font-family: 'Raleway';

    src: url('../fonts/Raleway-VariableFont_wght.eot');

    src: url('../fonts/Raleway-VariableFont_wght.eot') format('eot'),

    url('../fonts/Raleway-VariableFont_wght.woff') format('woff'),

    url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),

    url('../fonts/Raleway-VariableFont_wght.svg') format('svg');

    font-weight: 400;

    font-style: normal;

}*/
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot") format("eot"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot") format("eot"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg") format("svg");
  font-weight: 900;
  font-style: bold;
}
body {
  font-family: Montserrat;
}

.container {
  margin: 0 auto;
}

.header {
  background-size: cover;
  background-image: url("../../img/image_1.jpg");
  height: 100vh;
}

.header__top {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top-inner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  height: 26px;
}

.header__menu {
  margin-left: 66px;
  color: #fff;
}

.list {
  display: flex;
}

.list__item {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

.list__item--active:hover {
  color: #FFA3A3;
  cursor: pointer;
}

.header__buttons {
  margin-left: 448px;
}

.button-small {
  padding: 8px 16px;
  color: #381DDB;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: none;
  border: 2px solid transparent;
}
.button-small:active {
  outline: none;
}
.button-small:focus {
  outline: none;
}

.button-small--usual:hover {
  color: #fff;
  background-color: #381DDB;
  cursor: pointer;
}

.button-small--active {
  border: 2px solid #381DDB;
  border-radius: 0;
  cursor: pointer;
}
.button-small--active:hover {
  color: #fff;
  background-color: #381DDB;
}

.header__content-inner {
  margin-top: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text {
  width: 570px;
}

.header__add-text {
  display: flex;
  align-items: center;
}

.header__company-rate {
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.header__title {
  margin-top: 20px;
  color: #FFA3A3;
  font-size: 60px;
  line-height: 73px;
  font-weight: 700;
}

.header__subtitle {
  margin-top: 40px;
  font-family: Raleway;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
  font-weight: 400;
}

.header__icon-link {
  margin-top: 80px;
}

.icon-link {
  display: flex;
  align-items: center;
}

.icon-link__text {
  color: #FFA3A3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.icon-link__img {
  margin-left: 10px;
}

.header__form {
  margin-left: 130px;
  position: relative;
}

.form {
  padding: 20px 20px 20px 60px;
  background-color: #fff;
  display: flex;
}

.form__inner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 10px 0;
  padding-left: 14px;
  height: 48px;
  width: 260px;
  color: #222222;
  font-family: Raleway;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 0;
}
.form__input:focus {
  outline: none;
  border-color: rgba(56, 29, 219, 0.8);
}

.form__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 800;
}

.form__button-big {
  margin-top: 20px;
}

.form__text {
  margin-top: 30px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
}

.form__img {
  margin-left: 60px;
  top: 20px;
  right: 20px;
}

.form__img-2 {
  position: absolute;
  right: 10px;
  bottom: 40px;
}

.form__text-email {
  margin-left: 2px;
  color: #381DDB;
}

.button-big {
  padding: 14px 28px;
  height: 48px;
  width: 120px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #381DDB;
  border: none;
  border-radius: 0;
}
.button-big:hover {
  cursor: pointer;
}

.services__inner {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services__wrapper {
  display: flex;
  justify-content: center;
}

.services__photo {
  position: relative;
}

.services__img {
  margin-top: 76px;
  box-shadow: 0 20px 60px rgba(34, 34, 34, 0.2);
}

.services__firm-style {
  position: absolute;
  top: 96px;
  left: 20px;
}

.services__content {
  margin-left: 130px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.services__devider {
  margin-top: 140px;
}

.title {
  font-size: 34px;
  line-height: 130%;
  font-weight: 700;
}

.subtitle {
  font-family: Raleway;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.services__title {
  margin-top: 30px;
  text-align: right;
}

.services__subtitle {
  margin-top: 40px;
  text-align: right;
}

.services__arrows {
  margin-top: 37px;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrows__text {
  margin: 0 15px;
  color: rgba(34, 34, 34, 0.5);
  font-family: Raleway;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.8;
}

.solutions__inner {
  margin-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.solutions__title {
  text-align: center;
}

.solutions__subtitle {
  margin-top: 40px;
  width: 970px;
  text-align: center;
}

.solutions__items {
  margin-top: 90px;
}

.items {
  display: flex;
}

.item {
  padding: 30px;
}
.item:hover {
  color: #fff;
  background-color: #FFA3A3;
}
.item:hover .item__firm-style {
  opacity: 1;
}
.item:hover .item__img {
  fill: #fff;
  stroke: #fff;
}

.item__img {
  fill: #381DDB;
}

.items__item {
  margin: 0 20px;
  width: 300px;
  position: relative;
}

.item__title {
  margin-top: 40px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 800;
}

.item__subtitle {
  margin-top: 17px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.item__arrow {
  margin-top: 46px;
}

.item__firm-style {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}

.solutions__devider {
  margin-top: 140px;
}

.technology__inner {
  margin: 140px 0;
  display: flex;
  justify-content: center;
}

.technology__text {
  margin-left: 140px;
  width: 570px;
}

.technology__subtitle {
  margin: 40px 0 80px;
}

.icon-link__text--blue {
  color: #381DDB;
}

.technology__photos {
  height: 480px;
  box-shadow: 0 20px 100px rgba(34, 34, 34, 0.15);
  position: relative;
}

.technology__img--absolute {
  position: absolute;
  top: 70px;
  left: 70px;
}

.working {
  display: flex;
  justify-content: center;
}

.working__inner {
  width: 1180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
  position: relative;
}

.working__img-1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.working__img-2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.working__content {
  padding: 120px 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.working__title {
  color: #fff;
  text-align: center;
}

.working__subtitle {
  margin-top: 30px;
  width: 450px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.working__subscribe-form {
  margin-top: 30px;
}

.subscribe-form__text {
  padding: 12px 14px;
  height: 48px;
  width: 260px;
  font-family: Raleway;
  font-size: 16px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
.subscribe-form__text:placeholder {
  font-family: Raleway;
  font-size: 16px;
  color: #fff;
}
.subscribe-form__text:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.subscribe-form__text:focus {
  color: #222222;
  background-color: #fff;
  border: none;
  outline: none;
}

.subscribe-form__button {
  margin-left: 10px;
  padding: 14px 28px;
  width: 146px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: bold;
  color: #fff;
  background-color: #FC5252;
  border: none;
}
.subscribe-form__button:hover {
  background-color: #8F0202;
  cursor: pointer;
}
.subscribe-form__button:active {
  outline: none;
}
.subscribe-form__button:focus {
  outline: none;
}

.working__add-text {
  margin-top: 30px;
  font-family: Raleway-Regular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.customers__inner {
  margin-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.customers__slider {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  justify-content: center;
}

.slider__block {
  padding: 20px 50px;
  margin: 0 15px;
  background-color: rgba(34, 34, 34, 0.03);
}

.customers__arrows {
  margin-top: 50px;
}

.footer__inner {
  margin-top: 140px;
  padding: 60px 0 65px;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.03);
}

.footer__menu {
  color: #222222;
}

.footer__logo-text {
  width: 400px;
  margin-right: 134px;
}

.footer__text {
  margin-top: 30px;
  font-family: Raleway;
  font-size: 12px;
  line-height: 18px;
  color: rgba(34, 34, 34, 0.5);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__links-menu {
  display: flex;
  align-items: center;
}

.footer__buttons {
  margin-left: 40px;
}

.social-media {
  display: flex;
  align-items: center;
}

.footer__social-media {
  margin-top: 40px;
}

.social-media__element {
  margin-right: 30px;
}
.social-media__element:last-child {
  margin-right: 0;
}

.social-media__element {
  fill: #222222;
}
.social-media__element:hover {
  fill: #381DDB;
}

.footer__menu .list__item--active:hover {
  color: #381DDB;
}

@media (max-width: 1600px) {
  .header__content-inner {
    margin: 60px;
  }
}
/*

@media (max-width: 1440px) {

    .header__content-inner {
        margin: 60px;
    }

    .header__buttons {
        margin-left: 418px;
    }

    .header__form {
        margin-left: 100px;
    }

    .services__content {
        margin-left: 100px;
    }

    .technology__text {
        margin-left: 110px;
    }

    .technology__img--absolute {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .working__inner {
        width: 1130px;
    }

    .slider__block {
        padding: 20px 45px
    }

    .footer__logo-text {
        margin-right: 114px;
    }

}
*/
@media (max-width: 1440px) {
  .header__buttons {
    margin-left: 338px;
  }

  .header__content-inner {
    margin: 60px;
  }

  .header__icon-link {
    margin-top: 50px;
  }

  .header__title {
    margin-top: 20px;
    color: #FFA3A3;
    font-size: 54px;
    line-height: 66px;
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 32px;
  }

  .header__form {
    margin-left: 100px;
  }

  .form {
    padding: 10px 10px 20px 40px;
  }

  .form__inner {
    margin-top: 20px;
  }

  .form__group {
    margin-top: 10px;
  }

  .form__input {
    margin: 10px 0;
  }

  .form__button-big {
    margin-top: 10px;
  }

  .form__img {
    height: 390px;
  }

  .form__img-2 {
    height: 120px;
  }

  .services__content {
    margin-left: 40px;
  }

  .technology__text {
    margin-left: 100px;
  }

  .technology__photos {
    height: 400px;
  }

  .technology__img {
    height: 400px;
    width: auto;
  }

  .technology__img--absolute {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .technology__subtitle {
    margin: 20px 0 40px;
  }

  .working__inner {
    width: 1050px;
  }

  .working__content {
    padding: 120px 160px;
  }

  .slider__block {
    padding: 20px 30px;
  }

  .footer__logo-text {
    margin-right: 134px;
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .header__buttons {
    margin-left: 164px;
  }

  .header__form {
    margin-left: 43px;
  }

  .form__text {
    margin-top: 20px;
  }

  .header__text {
    width: 430px;
  }

  .header__title {
    margin-top: 20px;
    color: #FFA3A3;
    font-size: 48px;
    line-height: 60px;
  }

  .header__subtitle {
    margin-top: 30px;
    font-size: 20px;
    line-height: 32px;
  }

  .services__devider {
    width: 950px;
  }

  .solutions__devider {
    width: 950px;
  }

  .working__inner {
    width: 950px;
  }

  .slider__block {
    margin: 0 10px;
  }

  .services__img {
    width: 370px;
  }

  .services__firm-style {
    height: 250px;
  }

  .services__content {
    width: 490px;
  }

  .title {
    font-size: 30px;
    line-height: 130%;
  }

  .subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  .services__subtitle {
    margin-top: 30px;
  }

  .services__arrows {
    margin-top: 22px;
  }

  .solutions__subtitle {
    width: 870px;
  }

  .items__item {
    width: 250px;
  }

  .item__title {
    font-size: 22px;
    line-height: 34px;
  }

  .item__subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  .technology__photos {
    height: 350px;
  }

  .technology__img {
    height: 350px;
  }

  .technology__text {
    width: 464px;
  }

  .working__inner {
    width: 900px;
  }

  .working__content {
    padding: 100px 130px;
  }

  .slider__block-img {
    height: 60px;
  }

  .footer__logo-text {
    margin-right: 59px;
    width: 220px;
  }

  .footer__buttons {
    margin-left: 30px;
  }
}