@font-face {

    font-family: 'Raleway';

    src: url('../fonts/Raleway-VariableFont_wght.eot');
        
    src: url('../fonts/Raleway-VariableFont_wght.eot') format('eot'),
        
    url('../fonts/Raleway-VariableFont_wght.woff') format('woff'),
        
    url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
        
    url('../fonts/Raleway-VariableFont_wght.svg') format('svg');
        
    font-weight: 300;
        
    font-style: normal;
        
    }

