/*@font-face {

    font-family: 'Raleway';

    src: url('../fonts/Raleway-VariableFont_wght.eot');
        
    src: url('../fonts/Raleway-VariableFont_wght.eot') format('eot'),
        
    url('../fonts/Raleway-VariableFont_wght.woff') format('woff'),
        
    url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
        
    url('../fonts/Raleway-VariableFont_wght.svg') format('svg');
        
    font-weight: 400;
        
    font-style: normal;
        
}*/

@font-face {

    font-family: Raleway;

    src: url('../fonts/Raleway-Regular.eot');
        
    src: url('../fonts/Raleway-Regular.eot') format('eot'),
        
    url('../fonts/Raleway-Regular.woff') format('woff'),
        
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
        
    url('../fonts/Raleway-Regular.svg') format('svg');
        
    font-weight: 400;
        
    font-style: normal;
        
}

    @font-face {

        font-family: Raleway;
    
        src: url('../fonts/Raleway-Bold.eot');
            
        src: url('../fonts/Raleway-Bold.eot') format('eot'),
            
        url('../fonts/Raleway-Bold.woff') format('woff'),
            
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
            
        url('../fonts/Raleway-Bold.svg') format('svg');
            
        font-weight: 900;
            
        font-style: bold;
            
        }
    
    