@import 'nullstyle.scss';
@import 'fonts.scss';

$light : #fff;
$blue : #381DDB;
$light_red: #FFA3A3;
$dark: #222222;

body {
    font-family: Montserrat;
}

.container {
    margin: 0 auto;
}

.header {
    background-size: cover;
    background-image: url("../../img/image_1.jpg");
    height: 100vh;
}

.header__top {
    padding-top: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top-inner {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 26px;
}

.header__menu {
    margin-left: 66px;
}

.list {
    display: flex;
}

.list__item {
    padding: 0 20px;
    
    color: $light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    list-style-type: none;
}

.list__item--active {
    &:hover {
        color: $light_red;

        cursor: pointer;
    }
}

.header__buttons {
    margin-left: 448px;
}

.button-small {
    padding: 8px 16px;

    color: $blue;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    background: none;
    border: 2px solid transparent;
    
}

.button-small--active {
    &:hover {
        border: 2px solid $blue;
        border-radius: 0;

        cursor: pointer;
    }
}

.header__content-inner {
    margin-top: 145px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text {
    width: 570px;
}

.header__add-text {
    display: flex;
    align-items: center;
}

.header__company-rate {
    margin-left: 10px;

    color: $light;
    font-size: 16px;
    font-weight: 700;
}

.header__title {
    margin-top: 20px;
    
    color: $light_red;
    font-size: 60px;
    line-height: 73px;
    font-weight: 700;
}

.header__subtitle {
    margin-top: 40px;

    font-family: Raleway;
    font-size: 24px;
    line-height: 38px;
    color: $light;
    font-weight: 400;
}

.header__icon-link {
    margin-top: 80px;
}


.icon-link {
    display: flex;
    align-items: center;
}

.icon-link__text {
    color: $light_red;
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.icon-link__img {
    margin-left: 10px;
}

.header__form {
    margin-left: 130px;

    position: relative;
}

.form {
    padding: 20px 20px 20px 60px;

    background-color: $light;

    display: flex;
}

.form__inner {
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    
}

.form__group {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.form__input {
    margin: 10px 0;
    padding-left: 14px;
    height: 48px;
    width: 260px;

    color: $dark;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    border-radius: 0;

    &:focus {
        outline: none;
        border-color: rgba(56, 29, 219, 0.8);
    }
}

.form__title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 800;
}

.form__button-big {
    margin-top: 20px;
}

.form__text {
    margin-top: 30px;
    
    font-family: Raleway;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;

    display: flex;
}

.form__img {
    margin-left: 60px;

    top: 20px;
    right: 20px;
}

.form__img-2 {
    position: absolute;

    right: 10px;
    bottom: 40px;
}

.form__text-email {
    margin-left: 2px;
    color: $blue;
}

.button-big {
    padding: 14px 28px;
    height: 48px;
    width: 120px;

    color: $light;
    font-size: 16px;
    font-weight: 700;

    background-color: $blue;
    border: none;
    border-radius: 0;

    &:hover {
        cursor: pointer;
    }
}

.services__inner {
    margin-top: 140px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services__wrapper {
    display: flex;
    justify-content: center;
}

.services__photo {
    position: relative;
}

.services__img {
    margin-top: 76px;

    box-shadow: 0 20px 60px rgba($dark, 0.2);
}

.services__firm-style {
    position: absolute;
    top: 96px;
    left: 20px;
}

.services__content {
    margin-left: 130px;
    width: 570px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services__devider {
    margin-top: 140px;
}

.title {
    font-size: 34px;
    line-height: 130%;
    font-weight: 700;
}

.subtitle {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.services__title {
    margin-top: 30px;

    text-align: right;
}

.services__subtitle {
    margin-top: 40px;

    text-align: right;
}

.services__arrows {
    margin-top: 37px;
}

.arrows {
    display: flex;
    align-items: center;
}

.arrows__text {
    margin: 0 15px;

    color: rgba($dark, 0.5);
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    opacity: 0.8;
}

.solutions__inner {
    margin-top: 140px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.solutions__title {
    text-align: center;
}

.solutions__subtitle {
    margin-top: 40px;
    width: 970px;

    text-align: center;
}

.solutions__items {
    margin-top: 90px;
}

.items {
    display: flex;
}

.item {
    padding: 30px;

    &:hover {
        color: $light;

        background-color: $light_red;
        
        .item__firm-style {
            opacity: 1;
        }

        .item__img {
            fill: $light;
            stroke: $light;
        }
    }
}

.item__img {
    fill: #381DDB;
}

.items__item {
    margin: 0 20px;
    width: 300px;

    position: relative;
}

.item__title {
    margin-top: 40px;

    font-size: 24px;
    line-height: 38px;
    font-weight: 800;
}

.item__subtitle {
    margin-top: 17px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.item__arrow {
    margin-top: 46px;
}

.item__firm-style {
    position: absolute;
    bottom: 20px;
    right: 20px;

    opacity: 0;
}

.solutions__devider {
    margin-top: 140px;
}


.technology__inner {
    margin: 140px 0;

    display: flex;
    justify-content: center;
    
}

.technology__text {
    margin-left: 140px;
    width: 570px;
}

.technology__subtitle {
    margin: 40px 0 80px;
}

.icon-link__text--blue {
    color: $blue;
}

.technology__photos {
    height: 480px;

    box-shadow: 0 20px 100px rgba($dark, 0.15);

    position: relative;   
}

.technology__img--absolute {
    position: absolute;
    top: 70px;
    left: 70px;
}



@media (max-width: 1600px) {

.header__content-inner {
    margin-top: 60px;
}

}