@import 'nullstyle.scss';
@import 'fonts.scss';

$light : #fff;
$blue : #381DDB;
$light_red: #FFA3A3;
$dark: #222222;
$red: #FC5252;

body {
    font-family: Montserrat;
}

.container {
    margin: 0 auto;
}

.header {
    height:auto;
  max-height:100%;
}

.header__inner {
    background-size: cover;
    background-image: url("../../img/image_1.jpg");
    height: 100vh;
    overflow: initial;
}


.header__top {
    padding-top: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top-inner {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 26px;
}

.header__menu {
    margin-left: 66px;

    color: $light;
}

.list {
    display: flex;
}

.list__item {
    padding: 0 20px;
    
    
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    list-style-type: none;
}

.list__item--active {
    &:hover {
        color: $light_red;

        cursor: pointer;
    }
}

.header__buttons {
    margin-left: 448px;
}

.button-small {
    padding: 8px 16px;

    color: $blue;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    background: none;
    border: 2px solid transparent;
    
    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

}

.button-small--usual {

    &:hover {
        color: $light;

        background-color: $blue;

        cursor: pointer;
    }
}

.button-small--active {
    border: 2px solid $blue;
    border-radius: 0;

    cursor: pointer;

    &:hover {
        color: $light;

        background-color: $blue;

    }
}

.header__content-inner {
    margin-top: 145px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text {
    width: 570px;
}

.header__add-text {
    display: flex;
    align-items: center;
}

.header__company-rate {
    margin-left: 10px;

    color: $light;
    font-size: 16px;
    font-weight: 700;
}

.header__title {
    margin-top: 20px;
    
    color: $light_red;
    font-size: 60px;
    line-height: 73px;
    font-weight: 700;
}

.header__subtitle {
    margin-top: 40px;

    font-family: Raleway;
    font-size: 24px;
    line-height: 38px;
    color: $light;
    font-weight: 400;
}

.header__icon-link {
    margin-top: 80px;
}


.icon-link {
    display: flex;
    align-items: center;
}

.icon-link__text {
    color: $light_red;
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.icon-link__img {
    margin-left: 10px;
}

.header__form {
    margin-left: 130px;

    position: relative;
}

.form {
    padding: 20px 20px 20px 60px;

    background-color: $light;

    display: flex;
}

.form__inner {
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    
}

.form__group {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.form__input {
    margin: 10px 0;
    padding-left: 14px;
    height: 48px;
    width: 260px;

    color: $dark;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    border-radius: 0;

    &:focus {
        outline: none;
        border-color: rgba(56, 29, 219, 0.8);
    }
}

.form__title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 800;
}

.form__button-big {
    margin-top: 20px;
}

.form__text {
    margin-top: 30px;
    
    font-family: Raleway;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    display: flex;
}

.form__img {
    margin-left: 60px;

    top: 20px;
    right: 20px;
}

.form__img-2 {
    position: absolute;

    right: 10px;
    bottom: 40px;
}

.form__text-email {
    margin-left: 2px;
    color: $blue;
}

.button-big {
    padding: 14px 28px;
    height: 48px;
    width: 120px;

    color: $light;
    font-size: 16px;
    font-weight: 700;

    background-color: $blue;
    border: none;
    border-radius: 0;

    &:hover {
        cursor: pointer;
    }
}

.services__inner {
    margin-top: 140px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services__wrapper {
    display: flex;
    justify-content: center;
}

.services__photo {
    position: relative;
}

.services__img {
    margin-top: 76px;

    box-shadow: 0 20px 60px rgba($dark, 0.2);
}

.services__firm-style {
    position: absolute;
    top: 96px;
    left: 20px;
}

.services__content {
    margin-left: 130px;
    width: 570px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services__devider {
    margin-top: 140px;
}

.title {
    font-size: 34px;
    line-height: 130%;
    font-weight: 700;
}

.subtitle {
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.services__title {
    margin-top: 30px;

    text-align: right;
}

.services__subtitle {
    margin-top: 40px;

    text-align: right;
}

.services__arrows {
    margin-top: 37px;
}

.arrows {
    display: flex;
    align-items: center;
}

.arrows__text {
    margin: 0 15px;

    color: rgba($dark, 0.5);
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    opacity: 0.8;
}

.solutions__inner {
    margin-top: 140px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.solutions__title {
    text-align: center;
}

.solutions__subtitle {
    margin-top: 40px;
    width: 970px;

    text-align: center;
}

.solutions__items {
    margin-top: 90px;
}

.items {
    display: flex;
}

.item {
    padding: 30px;

    &:hover {
        color: $light;

        background-color: $light_red;
        
        .item__firm-style {
            opacity: 1;
        }

        .item__img {
            fill: $light;
            stroke: $light;
        }
    }
}

.item__img {
    fill: #381DDB;
}

.items__item {
    margin: 0 20px;
    width: 300px;

    position: relative;
}

.item__title {
    margin-top: 40px;

    font-size: 24px;
    line-height: 38px;
    font-weight: 800;
}

.item__subtitle {
    margin-top: 17px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.item__arrow {
    margin-top: 46px;
}

.item__firm-style {
    position: absolute;
    bottom: 20px;
    right: 20px;

    opacity: 0;
}

.solutions__devider {
    margin-top: 140px;
}


.technology__inner {
    margin: 140px 0;

    display: flex;
    justify-content: center;
    
}

.technology__text {
    margin-left: 140px;
    width: 570px;
}

.technology__subtitle {
    margin: 40px 0 80px;
}

.icon-link__text--blue {
    color: $blue;
}

.technology__photos {
    height: 480px;

    box-shadow: 0 20px 100px rgba($dark, 0.15);

    position: relative;   
}

.technology__img--absolute {
    position: absolute;
    top: 70px;
    left: 70px;
}

.working {
    display: flex;
    justify-content: center;
}

.working__inner {
    width: 1180px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: $dark;

    position: relative;
}

.working__img-1 {
    position: absolute;
    top: 20px;
    left: 20px;
}

.working__img-2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.working__content {
    padding: 120px 200px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.working__title {
    color: $light;
    text-align: center;
}

.working__subtitle {
    margin-top: 30px;
    width: 450px;

    text-align: center;
    color: rgba($light, 0.7);
}

.working__subscribe-form {
    margin-top: 30px;

    
}

.subscribe-form__text {
    padding: 12px 14px;
    height: 48px;
    width: 260px;

    font-family: Raleway;
    font-size: 16px;
    color: $light;

    background-color: rgba($light, 0.1);
    border: none;

    &:placeholder {
        font-family: Raleway;
        font-size: 16px;
        color: $light;
    }

    &:hover {
        background-color: rgba($light, 0.15);
    }

    &:focus {
        color: $dark;

        background-color: $light;
        border: none;
        outline: none;
    }
    

    
}

.subscribe-form__button {
    margin-left: 10px;
    padding: 14px 28px;
    width: 146px;

    font-size: 16px;
    line-height: 19.5px;
    font-weight: bold;
    color: $light;

    background-color: $red;
    border: none;

    &:hover {
        background-color: #8F0202;
        cursor: pointer;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }
    
}

.working__add-text {
    margin-top: 30px;

    font-family: Raleway-Regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: rgba($light, 0.3);
}

.customers__inner {
    margin-top: 140px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.customers__slider {
    margin-top: 80px;

    display: flex;
    justify-content: center;
}

.block { 
    display: flex;
    justify-content: center;;
}

.slider__block {
    padding: 20px 50px;
    margin: 0 15px;

    background-color: rgba($dark, 0.03);
}

.customers__arrows {
    margin-top: 50px;
}


.footer__inner {
    margin-top: 140px;
    padding: 60px 0 65px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba($dark, 0.03);
}

.footer__menu {
    color: $dark;
}

.footer__logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    margin-top: 30px;
    width: 400px;

    font-family: Raleway;
    font-size: 12px;
    line-height: 18px;
    color: rgba($dark, 0.5)
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__links-menu {
    margin-left: 464px;

    display: flex;
    align-items: center;
}

.footer__buttons {
    margin-left: 40px;

    
}

.footer__buttons .button-small {
    color: $blue;

    &:hover {
        color: $light;
    }
    
}

.footer__buttons .button-small--active {
    border-color: $blue;
}

.social-media {
    display: flex;
    align-items: center;
}

.footer__social-media {
    margin-top: 40px;
    margin-left: 500px;
}

.social-media__element {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.social-media__element {
    fill: $dark;

    &:hover {
        fill: $blue;
    }
}

.footer__menu .list__item--active {
    &:hover {
        color: $blue;
    }
}

@media (max-width: 1600px) {

.header__content-inner {
    margin: 60px;
}

}


@media (max-width: 1440px) {

    .header__buttons {
        margin-left: 338px;
    }

    .header__content-inner {
        margin: 60px;
    }

    .header__icon-link {
        margin-top: 50px;
    }

    .header__title {
        margin-top: 20px;
        color: #FFA3A3;
        font-size: 54px;
        line-height: 66px;
    }

    .header__subtitle {
        font-size: 20px;
        line-height: 32px;
    }

    .header__form {
        margin-left: 100px;
    }

    .form {
        padding: 10px 10px 20px 40px;
    }

    .form__inner {
        margin-top: 20px;
    }

    .form__group {
        margin-top: 10px;
    }

    .form__input {
        margin: 10px 0;
    }

    .form__button-big {
        margin-top: 10px;
    }

    .form__img {
        height: 390px;
    }

    .form__img-2 {
        height: 120px;
    }

    .services__content {
        margin-left: 40px;
    }

    .technology__text {
        margin-left: 100px;
    }

    .technology__photos {
        height: 400px;
    }

    .technology__img {
        height: 400px;
        width: auto;
    }

    .technology__img--absolute {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .technology__subtitle {
        margin: 20px 0 40px;
    }

    .working__inner {
        width: 1050px;
    }

    .working__content {
        padding: 120px 160px;
    }

    .slider__block {
        padding: 20px 30px;
    }

    .footer__links-menu {
        margin-left: 364px;
    }

    .footer__social-media {
        margin-left: 410px;
    }

}


@media (max-width: 1200px) {

    .container {
        margin: 0 30px;
    }

    .header__buttons {
        margin-left: 164px;
    }

    .header__form {
        margin-left: 43px;
    }

    .form__text {
        margin-top: 20px;
    }

    .header__text {
        width: 430px;
    }

    .header__title {
        margin-top: 20px;
        color: #FFA3A3;
        font-size: 48px;
        line-height: 60px;
    }

    .header__subtitle {
        margin-top: 30px;

        font-size: 20px;
        line-height: 32px;
    }

    .services__title {
    }

    .services__subtitle {
    }


    .services__devider {
        width: 950px;
    }

    .solutions__devider {
        width: 950px;
    }

    .working__inner {
        width: 950px;
    }

    .slider__block {
        margin: 0 10px;
    }

    .services__img {
        width: 370px;
        
    }

    .services__firm-style {
        height: 250px;
    }

    .services__content {
        width: 490px;
    }

    .title {
        font-size: 30px;
        line-height: 130%;
    }

    .subtitle {
        font-size: 14px;
        line-height: 22px;
    }

    .services__subtitle {
        margin-top: 30px;
    }

    .services__arrows {
        margin-top: 22px;
    }

    .solutions__subtitle {
        width: 870px;
    }

    .items__item {
        width: 250px;
    }

    .item__title {
        font-size: 22px;
        line-height: 34px;
    }
    
    .item__subtitle {
        font-size: 14px;
        line-height: 22px;
    }

    .technology__photos {
        height: 350px;
    }

    .technology__img {
        height: 350px;
    }

    .working__inner {
        width: 900px;
    }

    .working__content {
        padding: 100px 130px;
    }

    .slider__block-img {
        height: 60px;
    }

    .footer__links-menu {
        margin-left: 224px;
    }

    .footer__social-media {
        margin-left: 270px;
    }

    .footer .container {
        margin: 0;
    }

}

@media (max-width: 1024px) {

    .header__inner {
        background-size: cover;
        background-image: url(../../img/background.jpg);
        height: 100vh;
        overflow: initial;
    }

    .container {
        margin: 0 40px;
    }

    .button-small {
        color: $light;
    }

    .button-small--active {
        border: 2px solid $light;
    }

    .services__devider {
        margin-top: 100px;
        width: 690px;
    }

    .solutions__devider {
        margin-top: 50px;
        width: 690px;
    }

    .header__form {
        margin-left: 0;
    }
    
    .header__content-inner {
        margin-bottom: 590px;

        flex-wrap: wrap;
    }

    .header__menu {
        margin-left: 40px;
    }

    .header__buttons {
        margin-left: 25px;
    }

    .header__text {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .header__title {
        min-width: 670px;

        text-align: center;
    }

    .header__subtitle {
        min-width: 470px;

        text-align: center;
    }

    .header__icon-link {
        margin: 30px 0 60px;
    }

    .form {
        padding: 20px 20px 20px 60px;
    
        background-color: $light;
    
        box-shadow: 0 20px 60px rgba($dark, 0.2);

        display: flex;
    }
    
    .form__inner {
        margin-top: 40px;
    
        display: flex;
        flex-direction: column;
    
        
    }
    
    .form__group {
        margin-top: 20px;
    
        display: flex;
        flex-direction: column;
    }
    
    .form__input {
        margin: 10px 0;
        padding-left: 14px;
        height: 48px;
        width: 260px;
    
        color: $dark;
        font-family: Raleway;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    
        border-radius: 0;
    
        &:focus {
            outline: none;
            border-color: rgba(56, 29, 219, 0.8);
        }
    }
    
    .form__title {
        font-size: 24px;
        line-height: 38px;
        font-weight: 800;
    }
    
    .form__button-big {
        margin-top: 20px;
    }
    
    .form__text {
        margin-top: 30px;
        
        font-family: Raleway;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    
        display: flex;
    }
    
    .form__img {
        margin-left: 60px;
    
        top: 20px;
        right: 20px;
    }
    
    .form__img-2 {
        position: absolute;
    
        right: 10px;
        bottom: 40px;
    }
    
    .form__text-email {
        margin-left: 2px;
        color: $blue;
    }

    .solutions__inner {
        margin-top: 50px;
    }

    .services__inner {
        margin-top: 450px;

        align-items: center;
    }

    .services__wrapper {
        flex-flow: column-reverse;
        align-items: center;
    }

    .services__content {
        margin-left: 0;
        width: 570px;
        width: 100%;

        align-items: center;
    }

    .services__title {
        margin-top: 30px;
        min-width: 570px;

        text-align: center;
    }

    .services__subtitle {
        min-width: 570px;

        text-align: center;
    }

    .services__arrows {
        margin-top: 30px;
    }

    .services__img {
        margin-top: 60px;
        width: 570px;
    }

    .services__firm-style {
        height: 370px;
    }

    .solutions__title {
        width: 690px;
    }

    .solutions__subtitle {
        width: 690px;
    }


    .title {
        font-size: 34px;
        line-height: 130%;
        font-weight: 700;
    }
    
    .subtitle {
        font-family: Raleway;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .solutions__items {
        margin-top: 30px;
    }

    .items__item {
        margin: 0;
        width: 210px;
        position: relative;

        &:nth-child(2) {
            margin: 0 30px;
        }
    }
    
    .item {
        padding: 30px;    
    }

    .items__item {
        &:nth-child(3) {
            .item__title {
                width: 100px;
            }
        }
    }

    .technology__inner {
        margin-top: 100px;
        flex-flow: column-reverse;
        align-items: center;
    }

    .technology__text {
        margin-left: 0;
        width: 570px;
    }

    .technology__title {
        margin-bottom: 40px;
    }

    .technology__subtitle {
        margin-bottom: 30px;
    }

    .technology__photos {
        margin-top: 60px;
        margin-left: -35px;
    }

    .technology__img {
        height: 480px;
    }

    .technology__img--absolute {
        position: absolute;
        top: 70px;
        left: 70px;
    }

    .working__inner {
        margin-top: 170px;
        width: 690px;
    }

    .working__img-1 {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .working__content {
        padding: 60px;
    }

    .working__subtitle {
        max-width: 570px;
        width: 100%;
    }

    .customers__title {
        width: 690px;

        text-align: center;
    }

    .slider__block {
        width: 210px; 

        &:nth-child(4) {
            display: none;
        }
    }


    .customers__slider {
        margin-top: 30px;
        width: 470px;
    }

    .customers__arrows {
        margin-top: 30px;
    }

    .footer__links-menu {
        margin-left: 62px;
    }

    .footer__social-media {
        margin-left: 35px;
    }

    .footer__buttons {
        margin-left: 28px;
    }

    .footer__text {
        width: 390px;
    }

    .list__item {
        padding: 0 12px;
    }
}

@media (max-width: 767px) {

.header__title {
    min-width: 315px;
    width: 100%;
}

.header__subtitle {
    min-width: 315px;
    width: 100%;
}

.services__inner {
    margin-top: 400px;
}

.form__img-2 {
    width: 100px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.title {
    font-size: 28px;
}

.subtitle {
    font-size: 14px;
}

.working__add-text {
    font-size: 14px;
}

.technology__img--absolute {
    position: absolute;
    top: 40px;
    left: 40px;
}

.container {
    margin: 0 30px;
}

footer .container {
    margin: 0;
}

.services__img {
   height: 240px;
   width: auto;
}

.services__firm-style {
    height: 214px;

    top: 75px;
    left: 20px;
}

.form {
    padding: 15px 15px 15px 30px;
}

.solutions__inner {
    margin-top: 60px;
}

.technology__photos {
    height: 285px;
}

.technology__inner {
    margin-top: 60px;
}

.header__menu {
    display: none;
}

.slider__block {
    width: 150px;
    margin: 0;
    padding: 15px;

    &:nth-child(1) {
        margin-right: 10px;
    }
}

.working__content {
    padding: 34px 27px 20px;
}

.header__buttons {
    display: none;
}

.header__content-inner {
    margin: 0;
    margin-top: 60px; 
}

.header__text {
    min-width: 315px;
    width: 100%;
}

.services__title {
    min-width: 315px;
    width: 100%;
}

.services__subtitle {
    min-width: 315px;
    width: 100%;
}

.working__inner {
    margin-top: 0;
    min-width: 315px;
    width: 100%;
}

.working__subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribe-form__button {
    margin-top: 20px;
    margin-left: 0;
}

.working__img-1, .working__img-2 {
    display: none;
}

.slider__block {
    &:nth-child(3) {
        display: none;
    }
}

.customers__title {
    min-width: 315px;
    width: 100%;
    text-align: center;
}

.footer__inner {
    margin-top: 60px;
}

.footer__logo-text {
    flex-wrap: wrap;
}

.footer__links-menu {
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: center;
}

.footer__links {
    flex-wrap: wrap;
    justify-content: center;
}

.footer__text {
    text-align: center;
}

.menu__list {
    margin-top: 20px;
}

.footer__buttons {
    margin-top: 20px;
    margin-left: 0;
}

.footer__social-media {
    margin-left: 0;
}

.solutions__title {
    min-width: 315px;
    width: 100%;
}

.solutions__subtitle {
    min-width: 315px;
    width: 100%;
}

.solutions__items {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 40px 0 0;
}

.items__item:nth-child(3) .item__title {
    width: auto;
}

.items__item {
    margin: 10px 0 0;
    min-width: 315px;

    &:nth-child(2) {
        margin: 0;
    }
}

.customers__slider {
    width: 315px;
}

.item__title {
    margin-top: 20px;
}

.item__title {
    margin-top: 10px;
}

.item__arrow {
    margin-top: 20px;
}

.services__devider {
    margin-top: 60px;
    width: 315px;
}

.solutions__devider {
    margin-top: 40px;
    width: 315px;
}

.technology__text {
    min-width: 315px;
    width: 100%;
}

.technology__img {
    height: 285px;
}

.services__content {
    margin-left: 0;
    min-width: 315px;
    width: 100%;
}

.slider__block-img {
    height: 45px;
}

.customers__inner {
    margin-top: 60px;
}


.form__img {
    display: none;
}

.list__item {
    padding: 0 10px;
}

.footer__text {
    width: 315px;
}

}




@media (max-width: 650px) {

    .services__inner {
        margin-top: 450px;
    }

}

@media (max-width: 535px) {

    .services__inner {
        margin-top: 470px;
    }

}


@media (max-width: 450px) {

    .services__inner {
        margin-top: 490px;
    }

}


@media (max-width: 450px) {

    .services__inner {
        margin-top: 520px;
    }

}

@media (max-width: 380px) {

    .services__inner {
        margin-top: 600px;
    }

}


@media (max-width: 1130px) {

    .header__inner {
        background-position: -50px;
    }

}





